name: Release zipped package

on:
  push:
    tags:
      - "*.*.*"

jobs:
  zip-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Zip source
        uses: papeloto/action-zip@v1
        with:
          files: src/
          dest: mod_tablemakerforcsv.zip
      - name: Create release with zip-file
        uses: softprops/action-gh-release@v1
        with:
          files: mod_tablemakerforcsv.zip
      - name: Deploy update server
        uses: kevinpainchaud/simple-ftp-deploy-action@v1.2.1
        with:
          ftp_host: ${{ secrets.FTP_HOST }}
          ftp_username: ${{ secrets.FTP_USERNAME }}
          ftp_password: ${{ secrets.FTP_PASSWORD }}
          local_source_dir: "update-server"
          dist_target_dir: "www/updates"
          delete: "false"
